[gatey-authenticator] {
  border-radius: 4px;
}

[data-amplify-authenticator] [data-amplify-container] {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 30rem) {
  [data-amplify-authenticator] [data-amplify-container] {
    width: unset;
    min-width: 30rem;
  }
}
