[data-amplify-theme],
html {
  --amplify-fonts-default-static: inherit !important;
  --amplify-fonts-default-variable: inherit !important;
}

[gatey-authenticator] {
  border-radius: 4px;
}

[data-amplify-authenticator] [data-amplify-container] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

[data-amplify-authenticator] [data-amplify-container] [data-amplify-router] {
  width: 100%;
}

.amplify-radiogroupfield {
  --amplify-components-radiogroup-legend-font-weight: 300;
}

[data-amplify-authenticator].sr-only {
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
